.header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    z-index: 99;
    background: #5e595f;
    position: fixed;
    width: 100%;
}
.header img {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    top: 50%;
    border-radius: 100%;
    margin-top: 16px;
    float: left;
    margin-left: 20px;
    margin-right: 2px;
}

.header img:hover {
    background: #e2e2e2;
}

input {
    width: 750px;
    margin-right: 60px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 0px 6px 6px 0px;
    margin-top: 9px;
    float: left;
    background: #e2e2e2;
    border: none;
    outline: none;
    font-size: 16px
}

#search {
    float: left;
    padding: 11px;
    margin-top: 9px;
    background: #e2e2e2;
    margin-left: 25px;
    border-radius: 6px 0px 0px 6px;
    font-size: 20px;
}





