.header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    z-index: 99;
    background-color: white;
    border-bottom: 1px lightgrey solid;
    position: fixed;
    width: 100%;
}
.header img {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    top: 50%;
    border-radius: 100%;
    margin-top: 16px;
    float: left;
    margin-left: 20px;
    margin-right: 2px;
  
}

.header img:hover {
    background: #e2e2e2;
}

input {
    width: 740px;
    margin-top: 9px;
    height: 40px;
    border-radius: 0px 8px 8px 0px;
    float: left;
    background: #e9e9e9;
    border: none;
    outline: none;
    font-size: 15px;

}

#search {
    float: left;
    padding: 11px;
    margin-bottom: 10px;
    background: #e9e9e9;
    margin-left: 25px;
    border-radius: 8px 0px 0px 8px;
    font-size: 20px;
    margin-top: 9px;
    color: gray;
}

.searchBox{
    margin-top: 20px;
}
.searchBox span{
    padding: 16px;
    font-weight: bold;
    display: inline;
    text-align: right;
    font-size: 15px;
}

.seguir, .name {
    color: #979797;
}

.searchBox i{
    font-size: 1.5em;
    color:grey;
}

.searchBox span:hover {
    color: #979797;
    background-color: #F2F2F2;
    border-color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

.fa-comment-dots{
    align-items: center
}




