
.returImages{
    margin-top: 67px;
    width: 100%;
    margin-left: 15px;
}

.returImages img{
    border-radius: 20px;
    padding: 10px;
    width: 230px;
    background: #fff;
    float: left;
    margin-bottom: 15px;
   
}

.returImages img:hover {
    color: #979797;
    background-color: #F2F2F2;
    border-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    opacity: '2'
}
