
.returImages{
    margin-top: 67px;
    width: 100%;
    margin-left: 15px;
}

.returImages img{
    border-radius: 35px;
    padding: 10px;
    width: 230px;
    background: #fff;
    float: left;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

.returImages img:hover {
    color: #979797;
    background-color: #F2F2F2;
    border-color: #fff;
    border-radius: 30px;
    cursor: pointer;
}
